{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{% block title %}Qubits Capstone Project{% endblock %}</title>

    <!-- Bootstrap CSS and JavaScript -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet", href="{% static 'css/styles.css'%}">
    <script src="{% static 'js/script.js' %}" defer></script>
</head>

<body>
    <!-- Navbar -->
<nav class="navbar navbar-dark bg-dark navbar-expand-lg sticky-top">
<div class="container-fluid">
    <a class="navbar-brand fw-bold text-light" href="#">QUBITS</a>

    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">QUBITS</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-left flex-grow-1 pe-3">
           <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'home' %}active{% endif %}" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-lg-2 {% if request.resolver_match.url_name == 'patient_intake' %}active{% endif %}" href="{% url 'patient_intake' %}">Patient Intake</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-lg-2 {% if request.resolver_match.url_name == 'shift' %}active{% endif %}" href="{% url 'shift' %}">Shift Info</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-lg-2 {% if request.resolver_match.url_name == 'nurse_workload' %}active{% endif %}" href="{% url 'nurse_workload' %}">Nurse Workload</a>
          </li>

            </ul>
          </li>
        </ul>
      </div>
    </div>

     <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <div class="button">
          <button type="submit" class="logout-button">Log Out</button>
        </div>
      </form>
      
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
    <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
    
    <!-- Messages -->
    {% for message in messages %}
        <div class="container-fluid p-0">
            <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>  
    {% endfor %}
    <!-- Main content -->
    <div class="container mt-4">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
