{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
  <!-- https://learndjango.com/tutorials/django-login-and-logout-tutorial -->
  {% if user.is_authenticated %}

  
    <div class="d-flex align-items-center justify-content-center vh-100 text-white"
    style="background-image: url('/static/images/ER_1.jpg');
    background-size: cover;
    background-position: center;"> 
        <h1> Welcome {{ user.first_name }} {{user.last_name}}! </h1> <br>
       <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <div class="button">
          <button type="submit" class="logout-button">Log Out</button>
        </div>
      </form>
      </div>
    </div>
    </div>
    
  
  {% else %}
    <a href="{% url 'login' %}" class="btn btn-primary mt-3">
      Log in
    </a>
  {% endif %}
</div>
{% endblock %}