{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
  <!-- https://learndjango.com/tutorials/django-login-and-logout-tutorial -->
  {% if user.is_authenticated %}

  <!-- Hero Section
 <section class="hero-section">
  <div class="container d-flex align-items-center justify-content-center fs-1 text-white flex-column">
    <h1> Hi {{ user.first_name }} {{user.last_name}}! </h1>
    <h2> Welcome to the ER Triage</h2>
    <h6> (Login successful)</h6>
    
    <p class="logout"><a href="#" class="logout-button">Logout</a></p>
  </div>
 </section>
-->
  
  <section class="bg-image" style="background-image: url('/static/images/ER_1.jpg'); height: 100vh">
    <div class="section-content">
      <div class="hero-details">
        <h1> Welcome {{ user.first_name }} {{user.last_name}}! </h1>
      <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <div class="button">
          <button type="submit">Log Out</button>
        </div>
      </form>
      </div>
   </div>
    </div>
    </div>
    </section>
  
  {% else %}
    <a href="{% url 'login' %}" class="btn btn-primary mt-3">
      Log in
    </a>
  {% endif %}
</div>
{% endblock %}