{% extends "base.html" %}

{% block title %}Patient Intake{% endblock %}

{% block content %}
<div class="text-center">
    <p class="display-4">Patient Intake</p>

    <!-- Only allow new patient intake if user is logged in -->
    {% if user.is_authenticated %}

    <!-- Patient Info -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#patient-info-modal">
        Patient Info Modal
    </button>
    <div class="modal fade" id="patient-info-modal" data-bs-backdrop="static" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Patient Intake</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Patient Intake Modal</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    {% endif %}

        <!-- All Current Patients -->
        <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Waiting Time</th>
                <th scope="col">ESI Level</th>
            </tr>
        </thead>
        <tbody>
            {% for visit in all_visits %}
                {% if not visit.exiting_time %}
                    <tr>
                        <th scope="row">{{ visit.patient_id.patient_id }}</th>
                        <td>{{ visit.patient_id.first_name }}</td>
                        <td>{{ visit.patient_id.last_name }}</td>
                        <td>{{ visit.waiting_time }}</td>
                        <td>Null</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}