

.img {
   background: url(/static/images/ER_1.jpg);
   height: 100vh;
   width: 100%;
   background-position: center;
   background-size: cover;
   position: relative;
}


.logout-button {
    background-color: rgb(99, 158, 216);
    color: white;
    font-size: 14px;
    padding: 6px 20px;
    border-radius: 15px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.logout-button:hover {
    background-color: rgb(70, 90, 144);
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus, btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: rgb(197, 197, 197);
    font-weight: 500;
}

.nav-link:hover, .nav-link.active {
    color: rgb(154, 163, 220);
}

